{% load static %} {% if user.is_authenticated %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Racing game</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-size: 0;
      }
      canvas {
        width: 100%;
        height: 100%;
      }
    </style>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'game/css/materialize.min.css' %}"
      media="screen,projection"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <canvas id="canvas"></canvas>

    <script>
      var modelsURL = "{% static 'game/models/' %}";
      var texturesURL = "{% static 'game/textures/' %}";
    </script>

    <script
      type="text/javascript"
      src="{% static 'game/lib/materialize.min.js' %}"
    ></script>
    <script src="{% static 'game/lib/three.min.js' %}"></script>
    <script src="{% static 'game/lib/Animation.js' %}"></script>
    <script src="{% static 'game/lib/AnimationHandler.js' %}"></script>
    <script src="{% static 'game/lib/KeyFrameAnimation.js' %}"></script>
    <script src="{% static 'game/lib/ColladaLoader.js' %}"></script>

    <script src="{% static 'game/js/sceneSubjects/GeneralLights.js' %}"></script>
    <script src="{% static 'game/js/sceneSubjects/PlayerCar.js' %}"></script>
    <script src="{% static 'game/js/sceneSubjects/Road.js' %}"></script>
    <script src="{% static 'game/js/sceneSubjects/KeyboardEvents.js' %}"></script>

    <script src="{% static 'game/js/SceneManager.js' %}"></script>
    <script src="{% static 'game/js/main.js' %}"></script>
  </body>
</html>
{% else %}
<h1>Nie zalogowany</h1>
{% endif %}
